.bg{
  background-color:#eeeef0;
  font-family: Lato;
}
td{
  outline-style: none;
  width : 100px;
}

th{
  outline-style: none;
  width : 200px;
}

body{
  padding-left: 35%;
}
textarea {
    resize: none;
}
#sub{
  align-items: center;
}


.btn-grp:focus {
    font-size: 16px;
    background-color: #69ddFF;
}


#container{
  background-color: white;
  border-style: solid;
  padding-left: 50px;
  padding-bottom: 80px;
  margin-right: 40%;
}
select{
  width: 85%;
  height: 30px;
}
textarea{
  width: 85%;
}

#field{
  width: 85%;
  height: 30px;
}

h1 {
	font-family: Lato;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
  padding-left: 25%;
	font-weight: 500;
  color: #222233;
	line-height: 26.4px;
}

.pic{
  padding-left: 15%;
  width: 45%;
  height: 10%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #69ddFF;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
